.price-optimization-container {
  background-image: url('../images/back2.jpg');
  background-size: cover;
  background-position: center; 
  height: 110vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  color:#ffffff;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
}

.optimization-form-container {
  margin-top: 20px;
}

.optimization-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  margin: 10px;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.7);
}

.submit-button {
  background-color: #fca311;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button.loading {
  background-color: #FFC107;
}

.submit-button.success {
  background-color: #4CAF50;
}

.submit-button.error {
  background-color: #F44336;
}

.optimized-price {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.optimized-price h2 {
  margin-bottom: 20px;
}

.price-section {
  margin-bottom: 20px;
}

.price-section h3 {
  margin-bottom: 10px;
}

.error-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
}