.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/back1.jpg');
    background-size: cover;;
}

.signup-form {
    background: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
}

.signup-logo {
    width: 400px;
    height: 150px; /* Ajusta este valor al tamaño deseado para la altura */
    margin-top: 0px; /* Ajusta este valor para aumentar el espacio encima del elemento */
    margin-bottom: 0px; /* Ajusta este valor para aumentar el espacio debajo del elemento */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.social-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.google {
    background: #4285f4;
    color: #fff;
}

.facebook {
    background: #3b5998;
    color: #fff;
}

.apple {
    background: #333;
    color: #fff;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #666;
    position: relative;
}

.divider:before,
.divider:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    top: 50%;
    background: #ccc;
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.checkbox-container input {
    margin-right: 10px;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.back-to-home-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #6200ea;
    border: 2px solid #6200ea;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-home-button:hover {
    background-color: #6200ea;
    color: #fff;
    transform: scale(1.05);
}

.back-to-home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.success {
    color: green;
    margin-bottom: 20px;
}